[submodule "cts"]
	path = cts
	url = https://github.com/VMOS-XiaoSuan/cts.git
[submodule "packages"]
	path = packages
	url = https://github.com/VMOS-XiaoSuan/packages.git
[submodule "tools"]
	path = tools
	url = https://github.com/VMOS-XiaoSuan/tools.git
[submodule "external"]
	path = external
	url = https://github.com/VMOS-XiaoSuan/external.git
[submodule "prebuilts"]
	path = prebuilts
	url = https://github.com/VMOS-XiaoSuan/prebuilts.git
[submodule "frameworks"]
	path = frameworks
	url = https://github.com/VMOS-XiaoSuan/frameworks.git
