allow init_shell sysfs_firmware_writable:file w_file_perms;

# Kernel bug for Linux < 3.3: sysfs inodes can lose their security context
# and revert to the base sysfs type.
allow init_shell sysfs:file write;
