<?xml version="1.0" encoding="UTF-8"?>
<!-- Run as: mvn -s /path/to/settings.xml -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>../../prebuilts/eclipse/mavenplugins/tycho/tycho-dependencies-m2repo/</localRepository>
  <offline>true</offline>
</settings>
