type adspd_device, dev_type;
type diag_device, dev_type;

# eMMC rpmb - necessarily drm?
type drm_block_device, dev_type;

# STOPSHIP b/16455932
type fingerprint_device, dev_type;

type efs_block_device, dev_type;
type mdm_helper_device, dev_type;
type ramdump_device, dev_type;
type modem_hob_block_device, dev_type;
type cid_block_device, dev_type;

# Real Time Clock
type rtc, dev_type;

type power_control_device, dev_type;
type shared_log_device, dev_type;

# Thermal engine
type thermal_engine_device, dev_type;
