# IPC Router Security Configuration Tool
type irsc_util, domain;
type irsc_util_exec, exec_type, file_type;

# Started by init
init_daemon_domain(irsc_util)

allow irsc_util self:socket create_socket_perms;
