type pvrsrvctl, domain;
type pvrsrvctl_exec, exec_type, file_type;

# Started by init
init_daemon_domain(pvrsrvctl)

# allow access to /dev/dri/card0
allow pvrsrvctl gpu_device:chr_file rw_file_perms;

# allow graphics driver initialization
allow pvrsrvctl self:capability sys_admin;
