allow system_app sysfs_thermal_writable:file rw_file_perms;
allow system_app sysfs_coretemp:file rw_file_perms;
allow system_app self:netlink_kobject_uevent_socket {create read bind connect getopt setopt shutdown};
